* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(270deg, #003625, #004230, #004a35, #004230, #003625);
    background-size: 1800% 1800%;
    animation: gradientAnimation 60s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.background {

}