* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

.nav-bar {
    width: 5vw;
    height: 100vh;
    position: fixed;
    background-color: #0f0f13;
    border-radius: 0vw 1.5vw 1.5vw 0vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.activity-options {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
    border-bottom: white solid 0.2vw;
}

.setting-options {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}

.nav-bar-button {
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-bar-button-icon {
    width: 3vw;
    /* background-color: black; */
}

.nav-bar-button-text {
    display: none;
}

.selected-option {
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    top: 10%;
    transition: all 0.3s;
}

.selected-option.config {
    top: 10%; /* Position for Configuration */
}

.selected-option.parser {
    top: 30%; /* Position for Parse File */
}

.selected-option.search {
    top: 50%; /* Position for Search */
}

.selected-option.settings {
    top: 74%; /* Position for Search */
}