@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

.input-field {

}

.table-div {
    display: flex;
    position: absolute;
    left: 8.5vw;
    width: 49.5%;
    height: 70vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

h3 {
    color: white;
}

table {
    color: white;
    background-color: #001f16;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2vw;
}

td, th {
    color: white !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon, .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon {
    color: white !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after, .css-1eed5fa-MuiInputBase-root-MuiInput-root::after:hover {
    border-color: #00e9a2 !important;
}